@use "_variables" as *;

@mixin custom-scrollbar(
  $width: 8px,
  $track-color: #f0f0f0,
  $thumb-color: get-color(var(--drx-red-base)),
  $thumb-hover: get-color(var(--ex-red-scale-600))
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover;
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

@function get-color($color){
  @return $color;
}

@mixin createFont($name, $weight: 500, $size: 14px) {
  .quicksand-#{$name} {
    font-family: "Quicksand", serif !important;
    font-optical-sizing: auto !important;
    font-weight: $weight !important;
    font-size: $size !important;
  }
}

@mixin media-mini-mobile{
  @media (max-width: 480px) {
    @content;
  }
}

@mixin media-micro-mobile{
  @media (max-width: 240px) {
    @content;
  }
}


@mixin media-medium-mobile{
  @media (min-width: 480px) and (max-width: 800px) and (orientation: portrait) {
    @content;
  }
}

@mixin media-micro {
  @media (max-width: #{$breakpoint-micro}) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin media-mobile-lg {
  @media (min-width: 490px) and (max-width: #{$breakpoint-mobile-lg}) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin media-desktop-lg {
  @media (max-width: #{$breakpoint-desktop-lg}) {
    @content;
  }
}

@mixin media-ultra {
  @media (min-width: #{$breakpoint-ultra}) {
    @content;
  }
}

@mixin media($size) {
  @if $size == mobile {
    @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
  }
  @else if $size == mobile-lg {
    @media (min-width: 481px) and (max-width: #{$breakpoint-mobile-lg}) { @content; }
  }
}
