@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{

  --ex-pure-black: #000000;
  --ex-pure-white: #FFFFFF;

  --ex-gray-scale-800: #14142B;
  --ex-gray-scale-700: #4E4B66;
  --ex-gray-scale-600: #6E7191;
  --ex-gray-scale-500: #A0A3BD;
  --ex-gray-scale-400: #D9DBE9;
  --ex-gray-scale-300: #EFF0F6;
  --ex-gray-scale-200: #F7F7FC;
  --ex-gray-scale-100: #FCFCFC;

  --ex-neutral-scale-600: #1B253C;
  --ex-neutral-scale-500: #202C46;
  --ex-neutral-scale-400: #4D566B;
  --ex-neutral-scale-300: #9096A2;
  --ex-neutral-scale-200: #D1D4DB;
  --ex-neutral-scale-100: #E9EAEC;
  --ex-neutral-scale-50: #F4F4F6;
  --ex-blue-scale-0: #F6F6F6;

  --ex-blue-scale-700: #2240A4;
  --ex-blue-scale-600: #2A4EC7;
  --ex-blue-scale-500: #315CEA;
  --ex-blue-scale-400: #5A7DEE;
  --ex-blue-scale-300: #ADBEF7;
  --ex-blue-scale-200: #EAEFFD;
  --ex-blue-scale-100: #F5F7FE;

  --ex-purple-scale-600: #6436BF;
  --ex-purple-scale-500: #773FE2;
  --ex-purple-scale-400: #9265E8;
  --ex-purple-scale-300: #C9B2F3;
  --ex-purple-scale-200: #F1ECFC;
  --ex-purple-scale-100: #F8F5FE;

  --ex-magenta-scale-600: #C24764;
  --ex-magenta-scale-500: #E35275;
  --ex-magenta-scale-400: #E97591;
  --ex-magenta-scale-300: #F4BAC8;
  --ex-magenta-scale-200: #FCEEF1;
  --ex-magenta-scale-100: #FEF6F8;

  --ex-green-scale-600: #21AF52;
  --ex-green-scale-500: #27CE60;
  --ex-green-scale-400: #52D880;
  --ex-green-scale-300: #A9EBBF;
  --ex-green-scale-200: #E9FAEF;
  --ex-green-scale-100: #F4FDF7;

  --ex-red-scale-600: #B71F3B;
  --ex-red-scale-500: #DF2648;
  --ex-red-scale-400: #E9677F;
  --ex-red-scale-300: #F2A6B4;
  --ex-red-scale-200: #F9D2D9;
  --ex-red-scale-100: #FCE9EC;

  --ex-yellow-scale-600: #C77414;
  --ex-yellow-scale-500: #F89118;
  --ex-yellow-scale-400: #FAB261;
  --ex-yellow-scale-300: #FCCF9C;
  --ex-yellow-scale-200: #FDE7CD;
  --ex-yellow-scale-100: #FEF3E6;
}

$sizes:(
  'sm':12,
  'm':16,
  'r':18,
  'x':20,
  'xm':24,
  'xxm':32,
);

$gradient-white-colors:(
  'first-place-first-hexa': 241,
  'first-place-second-hexa': 241,
  'first-place-third-hexa': 241,
  'second-place-first-hexa': 212,
  'second-place-second-hexa': 212,
  'second-place-third-hexa': 212,
  'third-place-first-hexa': 139,
  'third-place-second-hexa': 139,
  'third-place-third-hexa': 139,
);

@each $name, $size in $sizes{
  .raleway-#{$name}{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: $size+px;
  }

  .quicksand-#{$name}{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: $size+px;
  }
}

@function convertVarToColor($var){
  $color: '%23'+$var;
  @return $color;
}

.unset-button{
  padding: unset;
  margin: unset;
  background: unset;
  border: unset;
  height: unset;
  width: unset;
}

.bold-font{
  font-weight: bold;
}

.divider{
  margin: 32px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--ex-gray-scale-400);
}

input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
}
