@use "base/mixins" as *;

.daruix-ordem-list-orders{
  width: 1280px;
  margin: 180px auto 0;
  height: 80vh;
}

.table-container {
  max-height: 600px;
  width: 100%;
  overflow: auto;
  @include custom-scrollbar();
  & table{
    min-width: 1700px;
  }

  &__filter-pc{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 16px;
    & mat-icon{
      color: var(--ex-purple-scale-400)
    }
  }
}

.bold{
  font-weight: bold!important;
}

.bolder{
  font-weight: bolder!important;
}

.cdk-header-row {
  position: sticky;
  top: 0;
  z-index: 2;
}

.element-table-value{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece{
  border-color: var(--ex-purple-scale-400)!important;
}

.btn-form{
  background-color: var(--ex-neutral-scale-200)!important;
  color: var(--ex-neutral-scale-300)!important;
}


//APP
.daruix-search-container{
  margin-top: 100px;
  height: 65px;
  &__item{
    &__select{
      &__option{

      }
    }
  }
}
ion-content {
  --background: var(--drx-gray-base);
  & .daruix-accordion{
    &__item{
      &__header{
        &__card{
          width: 100%;
          height: 60px;
          background-color: var(--ex-neutral-scale-50)!important;
          &__card-header{
            padding: 0!important;
            & .daruix-grid-container{
              padding-left: 6px;
              padding-right: 12px;
              margin-left: 6px;
              margin-right: 6px;
              &__column{
                top: 6px;
                height: 40px;
              }
            }
          }
        }
      }
      & .container-slot{
        height: 295px;
        filter: drop-shadow(1px 10px 5px rgba(99, 99, 99, 0.2));
      }
      & .details-pc{
        width: 100%;
        margin: 0 auto;
        height: 40px;
        border-radius: 8px;
        & ion-list{
          border-radius: 8px;
          & .detail-item{
            & div{
              padding-left: unset !important;
            }
          }
        }
        & .grid-detail{
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
        }
      }
    }
  }
}

.refresher-pulling-text, .refresher-refreshing-icon{
  color: var(--drx-red-base);
  font-weight: bolder!important;
}
