@use "base/mixins" as *;

.daruix-ordem-list-orders{
  width: 1280px;
  margin: 180px auto 0;
  height: 80vh;
}

.table-container {
  max-height: 500px;
  width: 100%;
  overflow: auto;
  @include custom-scrollbar();
  & table{
    min-width: 1700px;
  }

  &__filter-pc{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 16px;
    & mat-icon{
      color: var(--ex-purple-scale-400)
    }
  }
}

.cdk-header-row {
  position: sticky;
  top: 0;
  z-index: 2;
}

.element-table-value{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece{
  border-color: var(--ex-purple-scale-400)!important;
}

.btn-form{
  background-color: var(--ex-purple-scale-300)!important;
  color: var(--ex-purple-scale-400)!important;
}

