<ng-container *ngIf="!showMobile">
  <section class="daruix-ordem-list-orders">
    <ng-container *ngIf="showTable">
      <div class="table-container__filter-pc">
        <mat-form-field appearance="outline">
          <mat-label>Filtre por PC</mat-label>
          <input matInput [formControl]="pc_number" type="{{showMobile ? 'number' : 'text'}}" placeholder="Número do PC">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-button (click)="filterByPcNumber(pc_number.getRawValue())" class="btn-form quicksand-m">Filtrar</button>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

          <ng-container matColumnDef="pc_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Pc Number" >  <div class="element-table-value bold quicksand-sm">PC</div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.pc_number}} </div></td>
          </ng-container>

          <ng-container matColumnDef="cod">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by OC Number">  <div class="element-table-value bold quicksand-sm">OC N°</div> </th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.cod}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="dt_solicitation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Buy Order">  <div class="element-table-value bold quicksand-sm">DATA DA COMPRA </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.dt_solicitation}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="dt_delivery">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Delivered Date"> <div class="element-table-value bold quicksand-sm">DATA DE ENTREGA </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.dt_delivery}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="buy_order_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by OC Value">  <div class="element-table-value bold quicksand-sm">OC VALOR </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.buy_order_value}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Supplier">  <div class="element-table-value bold quicksand-sm">FORNECEDOR </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.supplier | formatString:50}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Pc Description"> <div class="element-table-value bold quicksand-sm"> DESCRIÇÃO </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm">{{element?.description | formatString:50}} </div></td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status"> <div class="element-table-value bold quicksand-sm"> STATUS </div></th>
            <td mat-cell *matCellDef="let element"> <div class="element-table-value quicksand-sm"> <p class="{{element?.classStatus}}">{{element?.status}}</p> </div></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-elevation-z4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <thead>

          </thead>

        </table>
      </div>
      <mat-paginator
        [length]="openedOrders.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
      </mat-paginator>
    </ng-container>
  </section>
</ng-container>

<ng-container *ngIf="showMobile">
  <ion-list class="daruix-search-container" *ngIf="showTable">
    <ion-item lines="full" class="daruix-search-container__item">
      <ion-select
        interface="modal"
        id="selectWrapper"
        label="Selecione o PC"
        label-placement="stacked"
        class="daruix-search-container__item__select quicksand-sm bold"
        [(ngModel)]="selectedPC"
        (ionChange)="handleChange($event)">
        <ion-select-option [value]="''" class="daruix-search-container__item__select__option">Selecione o PC</ion-select-option>
        <ng-container *ngFor="let item of pcNumbersList;">
          <ion-select-option [value]="item" class="daruix-search-container__item__select__option">{{ item }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-content class="ion-padding">
    <ion-progress-bar [buffer]="buffer" [value]="progress" *ngIf="showStatusBar"></ion-progress-bar>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" *ngIf="!showStatusBar">
      <ion-refresher-content
        pullingText="Arraste para atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando..."
      >
      </ion-refresher-content>
    </ion-refresher>
    <ion-list [class]="'container'" *ngIf="!showStatusBar">
      <ion-accordion-group [class]="'daruix-accordion'">
        <ion-accordion value="{{i}}" *ngFor="let item of dataSource.data; index as i;" [class]="'daruix-accordion__item'">
          <ion-item slot="header" [class]="'daruix-accordion__item__header'">
            <ion-card [class]="'daruix-accordion__item__header__card'">
              <ion-card-header [class]="'daruix-accordion__item__header__card__card-header'">
                <ion-grid [class]="'daruix-grid-container'">
                  <ion-row>
                    <ion-col size="4">
                      <span class="quicksand-sm bold">OC N°:</span><br/>
                      <span class="quicksand-m bolder">{{item?.cod}}</span>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col size="6" [class]="'daruix-grid-container__column'">
                      <p class="{{item?.classStatus}} {{item?.classStatus+'--mobile'}}"> {{item?.status}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-item>
          <div class="ion-padding container-slot" slot="content">
            <div class="details-pc">
              <ion-list>
                <ion-item lines="full" class="detail-item">
                  <p class="grid-detail">
                    <span class="quicksand-sm bold">PC:</span>
                    <span class="quicksand-m">{{item?.pc_number | pcNumberSplit}}</span>
                  </p>
                </ion-item>
                <ion-item lines="full" class="detail-item">
                  <p class="grid-detail">
                    <span class="quicksand-sm bold">OC VALOR:</span>
                    <span class="quicksand-m">{{item?.buy_order_value}}</span>
                  </p>
                </ion-item>
                <ion-item lines="full" class="detail-item">
                  <p class="grid-detail">
                    <span class="quicksand-sm bold">DATA DA COMPRA:</span>
                    <span class="quicksand-m">{{item?.dt_solicitation}}</span>
                  </p>
                </ion-item>
                <ion-item lines="full" class="detail-item">
                  <p class="grid-detail">
                    <span class="quicksand-sm bold">DATA DE ENTREGA:</span>
                    <span class="quicksand-m">{{item?.dt_delivery}}</span>
                  </p>
                </ion-item>
                <ion-item lines="full" class="detail-item">
                  <p class="grid-detail">
                    <span class="quicksand-sm bold">FORNECEDOR:</span>
                    <span class="quicksand-m">{{item?.supplier | formatString:20}}</span>
                  </p>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" *ngIf="!showStatusBar">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ng-container>
