@use 'base/mixins' as *;

.daruix-ordem-container{
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: block;
}

app-header{
  z-index: 102;
}

.daruix-header-ion-container{
  padding: 0;
  margin: 0;
  &__toolbar{
    @include media-medium-mobile {
      padding: 0;
      margin: 0;
    }
    &__wrapper{
      height: 100px;
      display: inline-grid;
      grid-template-columns: [first] 70px [line2] 15px [last] 350px;
      padding: 10px 8px 12px;
      &__home-user-top{
        display: flex;
        & ion-title{
          color: var(--drx-red-base);
          font-size: 16px!important;
          //@include  media-mobile{
          //  padding: 0;
          //}
          //@include  media-mobile-lg{
          //  padding-left: 32px;
          //}
          @include media(mobile){
            padding: 0;
          }
          @include media(mobile-lg){
            padding-left: 32px!important;
          }
        }
      }
      &__logo{
        width: 64px;
        height: 80px;
        & img{
          object-fit: cover;
        }
      }
    }
  }
}

.daruix-footer-ion-container{
  &__toolbar{
    &__wrapper{
      height: 60px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding:16px 8px 12px;
      &__home-user-top{
        display: flex;
      }
      &__logo{
        width: 32px;
        height: 40px;
        & img{
          object-fit: cover;
        }
      }
    }
  }
}

.app-splash {
  position: absolute;
  z-index: 9999;
  background: linear-gradient(to bottom, #fff, #eee);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p{
    margin-top: 16px;
    color: var(--drx-red-base);
  }
}

ion-toolbar{
  padding: 0!important;
}

ion-header{
  padding-top: 0!important;
}

ion-accordion.accordion-animated>[slot=header] .ion-accordion-toggle-icon{
  padding: 0!important;
  margin: 0!important;
}
